@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
a{
    text-decoration: none;

}
//------------------------------------------------------------------
.header {
    margin: 45px 0px 0px 0px;
    &__body {
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}

.menu-column {

    &__row {
        margin: 0px 50px 0px 0px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__text {
        margin: 0px 0px 0px 20px;
        color: #1f1f24;
        font-family: 'Roboto', sans-serif;       
        font-size: 16px;
        font-weight: 400;
        line-height: 54px;

    }
}
.column-bottom {
    flex-wrap: wrap;
    display: flex;
}
.column {

    &__phone {
        color: #1f1f24;
        font-family: 'Roboto', sans-serif;       
        font-size: 25px;
        font-weight: 700;
        line-height: 54px;
        margin: 0px 20px 0px 0px;

    }
}
.btn {
    width: 207px;
    height: 45px;
    border: 1px solid #f82370;
    color: #f53f4f;
    font-family: 'Roboto', sans-serif;       
    font-size: 16px;
    font-weight: 400;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
}
//------------------------------------------------------------------



.content {

    &__body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
    }
}


.column-content {
    max-width: 757px;
    margin: 238px 0px 0px 0px;
    &__title {
        color: #1f1f24;
        font-family: 'Roboto', sans-serif;       
        font-size: 60px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
    }

    &__text {
        font-family: 'Roboto', sans-serif;       
        color: #8993ad;
        font-size: 25px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 54px;
        margin: 10px 0px 40px 0px;

    }
}
.btn--or {
    font-family: 'Roboto', sans-serif;       
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    max-width: 270px;
    background-color: #ff4e2e;
    text-align: center;
    line-height: 58px;
}



//------------------------------------------------------------------




.works {



    &__row{
        display: flex;
        flex: 0 0 25%;
        flex-wrap: wrap;

    }

    &__title {
        margin: 98px 0px 94px 0px;
        color: #262626;
        font-family: 'Roboto', sans-serif;       
        font-size: 54px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;

    }


    &__button {
    
        margin: 0 auto;
    }
}

.item {
    margin: 0 auto;
    max-width: 247px;
    text-align: center;


    &__text {
        font-family: 'Roboto', sans-serif;       
        color: #8993ad;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 30px;
        margin: 0px 0px 80px 0px;
    }
}



//------------------------------------------------------------------


.examples {

    &__title {
        color: #262626;

        font-size: 44px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 59.73px;
        text-align: center;
        margin: 150px 0px 50px 0px;
    }

    &__row {
        text-align: center;
        display: flex;
        flex: 1 1 33.333%;
        flex-wrap: wrap;
    }

    &__item {
        margin: 0 auto;
        max-width: 360px;
        margin: 0px 0px 50px 30px;
    }
}

.item-example {


    &__text {
        color: #8993ad;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 59.73px;
        text-align: center;

    }

    &__button {

    margin: 0 auto;
    

    }
}


//------------------------------------------------------------------

.price {
    width: 100%;
    background-color: #ff4e2e;
    margin: 200px 0px 0px 0px;
  

    &__title {

        color: #ffffff;
        font-family: 'Roboto', sans-serif;       
        font-size: 45px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        margin: 0px 0px 40px 0px;
        padding: 90px 0px 0px 0px;
        

    }

    &__text {
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        font-family: 'Roboto', sans-serif;       
        padding: 0px 0px 90px 50px;
        margin: 0 auto;

    }
}


//------------------------------------------------------------------


.contacts {
    margin: 90px 0px 0px 0px;
    padding: 0px 0px 90px 0px;   
    &__row {
        display: flex;
        justify-content: space-between;
    }


    &__title-text {
        color: #8993ad;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        margin: 0px 20px 5px 0px;
    }

    &__info {
        color: #000000;
        font-size: 25px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        cursor: pointer;
        margin: 0px 20px 0px 0px;
    }

    &__info-phone {
        display: block;
        margin: 0px 0px 5px 0px;
        background: url(../images/icons/09.png) left no-repeat;
        padding: 0px 0px 0px 40px;
    }

    &__info-mail {
        background: url(../images/icons/10.png) left no-repeat;
        display: block;
        padding: 0px 0px 0px 40px;
        

    }

    &__flex{
        display: flex;
        align-items: center;
    }


    &__icons-icon {
        margin: 15px 0px 0px 20px;
    }
}

//------------------------------------------------------------------

.footer {
    &__text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    background-color: #31293c;
    padding: 30px 0px;
    }
}

